.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  align-self: flex-start; /* Align to the start of the flex container */
}


/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.router-reset * {
  padding: 0;
  margin: 0;
  
  text-align: left;

}

.main-screen {
  width: 100%;
  max-width: 1500px; /* or whatever your design requires */
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box; /* Helps control padding and border */
}

.QuestionClass{
  width: 60%;
  height: 30px;
  size:200;
  font-size:18px;
  border-radius: 8px;
}

.QuestionClassForm{
  width: 100%;
  height: 30px;
  size:200;
  font-size:18px;
  border-radius: 8px;
}


.QuestionLabel{
  text-align: left;
}
.Pendulumgif{
  height: 250px;
  order: 3;
}

.AskButton {
  backface-visibility: hidden;
  
  background: #332cf2;
  height: 40px;
  border: 0;
  border-radius: .375rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.2;
  padding: 0.2rem 1.25rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.LogoutButton {
  position: absolute;
  top: 10px;    /* Position at top-right corner */
  right: 10px;
  background: #615f61;
  height: 25px;  /* Reduced height */
  border: 0;
  border-radius: .375rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Circular, Helvetica, sans-serif;
  font-size: 0.875rem;  /* Smaller font size for a more compact look */
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.2;
  padding: 0.2rem 0.75rem;  /* Reduced padding to decrease width */
  text-align: center;  /* Changed to center to align text properly */
  text-decoration: none;
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.LogoutButton:hover {
  background-color: #000000; /* Darker shade on hover */
}

.AskButton:disabled {
  color: #787878;
  cursor: auto;
}

.AskButton:not(:disabled):hover {
  transform: scale(1.05);
}

.AskButton:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.AskButton:focus {
  outline: 0 solid transparent;
}

.AskButton:focus:before {
  border-width: .125rem;
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.AskButtonfocus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.AskButton:not(:disabled):active {
  transform: translateY(.125rem);
}

.InputQuestion{
  text-align: left;
  margin-left: 30%;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Pendulumgif{
  align-self: center;
  position: relative;
  left: 18%;
}

.Pendulum{
  position: relative;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.ModalContent {
  width: 80%; /* Reduced width percentage */
  max-width: 400px; /* Reduced maximum width */
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px; /* Slightly reduced padding */
  margin-top: 5px; /* Space between the input field and this box */
  background: #fff;
 
  

  position: absolute;
  bottom: 50;
  left: -40%; /* Positions the modal to the left of the button */
  
  z-index: 10;
}

.ModalContent h2 {
  color: #333;
  font-size: 20px;
}

.ModalContent label {
  font-size: 16px;
  color: #666;
  display: block;
  margin: 20px 0;
}

.ModalContent select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
  margin-top: 5px;
}
/* Styling for the range input (slider) */
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
}

/* Styling for the slider thumb for Webkit (Chrome, Safari, etc.) */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #009688;
  cursor: pointer;
}

/* Styling for the slider thumb for Mozilla (Firefox) */
input[type=range]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #009688;
  cursor: pointer;
}

/* Styling for the scrollbar (Webkit) */
::-webkit-scrollbar {
  width: 5px; /* scrollbar width */
}

::-webkit-scrollbar-track {
  background: #ddd; /* scrollbar track color */
}

::-webkit-scrollbar-thumb {
  background: #1c8a7f; /* scrollbar thumb color */
}

/* Styling for the scrollbar (Firefox) */
* {
  scrollbar-width: thin; /* or 'auto' or 'none' */
  scrollbar-color: #009688 #ddd; /* thumb and track color */
}



.temperature-labels {
  display: flex;
  position: relative; /* Added to position buttons absolutely relative to this container */
  height: 50;
  width: 100%; /* Ensure it spans the full width of the range input */
}

/* Style for the buttons */
.temperature-labels button {
  position: absolute; /* Absolutely position each button */
  top: 100;
  background: none;
  border: 10px;
  color: #009688;
  cursor: pointer;
  user-select: none; /* Prevent text selection */
  transition: color 0.3s; /* Smooth transition for color changes */
 
}

/* Position each button */
.temperature-labels button.start {
  left: 0; /* Align to the left */
}

.temperature-labels button.middle {
  left: 45%; /* Align to the center */
  transform: translateX(-45%); /* Center the button */
}

.temperature-labels button.end {
  left: 90%; /* Align to the right */
  transform: translateX(-90%);
}

p {
  color: #333;
  font-size: 0.9rem;
  text-align: center;
  margin-top: 10px;
}


.error {
  color: red;
  margin-top: 5px;
}

.date-picker-group {
  display: inline-block;
  margin-right: 20px; /* Adds some space between the two date groups */
}

/* Optional: Align the text of the label with the input */
.date-picker-group label {
  display: block;
  margin-bottom: 5px;
}
.search-area {
  display: flex;
  align-items: center;
  position: relative;
}

#settings-btn {
  background: #009688;
  border: 2px solid #000; /* Example border - you can change color and width */
  cursor: pointer;
  font-size: 24px; /* Adjust the size as necessary */
  margin-right: 10px; /* Adjust space between the button and the input box */
  border-radius: 50%; /* This makes the border a circle */
  width: 40px; /* Set a fixed width */
  height: 40px; /* Set a fixed height */
  display: flex;
  align-items: center; /* This will center the icon vertically */
  justify-content: center; /* This will center the icon horizontally */
 
}

/* Optional: add some visual feedback on hover */
#settings-btn:hover {
  color: #464646; /* Change color on hover */
}

.search-config {
  display: none;
  position: relative; /* Or 'fixed' depending on your needs */
  /* Rest of the styles */
}

.tabbed {
  margin-left: 55px; /* This adds space to the left of an element */
}

.output-section {
  background-color: #f1f1f1;
  border-radius: 4px;
  padding: 10px;
  margin: 20px;
  max-width: 770px;

}


.output-verification {
  background-color: #fafafa;
  border-radius: 4px;
  padding: 10px;
  margin: 20px;
  max-width: 770px;

}

.output-tokens {
  white-space: pre-line; /* Ensures that line breaks are respected */
  
  color: #333;
  font-size: 16px;
  line-height: 1.6;
  margin-left: 10px;
  margin-right: 10px;
}

h2 {
  text-align: center;
  margin-left: 50px; /* Adjust the value as needed to move the text to the left */
  max-width: 770px;
  transform: translateX(50px); 
  /* Other styles... */
}

.spinner {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px; 
  width: 15px;
  height: 15px;
  border: 3px solid rgba(0, 0, 0, .3);
  border-radius: 50%;
  border-top: 3px solid blue;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.green-ball, .red-ball, .gray-ball,.yellow-ball {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  vertical-align: middle;
  display: inline-block;
  margin-right: 5px;
}

.green-ball {
  background-color: #00ff00; /* Green color */
}

.red-ball {
  background-color: #ff0000; /* Red color */
}

.gray-ball{
  background-color: gray;
}

.yellow-ball{
  background-color:yellow;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 280px;
  background-color: #f9f9f9;
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -140px; /* Use half of the width to center it. */
  box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
  /* Fade in tooltip - animation */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.simpleBlueButton {
  background-color: #007bff; /* A pleasant blue tone */
  color: white;              /* White text for better readability */
  border: none;              /* No border for a cleaner look */
  border-radius: 4px;        /* Slightly rounded corners */
  padding: 5px 10px;         /* Small padding to keep the button compact */
  font-size: 15px;           /* Smaller font size for the small button design */
  cursor: pointer;           /* Cursor changes to pointer to indicate it's clickable */
  outline: none;             /* Removes the outline to maintain simplicity on focus */
}

.simpleBlueButton:hover {
  background-color: #0056b3; /* Darker blue on hover for a subtle interaction effect */
}

