.login-container {
    display: flex;
    flex-direction: row; /* Stack children vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    height: 100vh; /* Full viewport height to center everything in the middle of the page */
    background-color: #f8f8f8; /* Background color, optional */
    
    
}

.login-subcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 95%;
}

.credentials-subcontainer{
    display: flex;
    flex-direction: column;
}



.cred-logo{
    height: 45vh;
}
.login-logo {
    width: auto; /* Adjust the width as necessary */
    height: 60vh;
   
}

.login-text{
    margin-left: -6%;
    margin-top: -20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}

.login-text-div{
    margin-top: -20vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.login-verifai{
   width: 80%;
   text-align: center;
    
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
}

.login-verifai-subtext{
  
    font-family: 'Montserrat', sans-serif;
    font-size: large;
}

.login-form {
    
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
   /* Adjust width as necessary */
    display: flex;
    flex-direction: column; /* Ensures form elements stack vertically */
    align-items: center; /* Aligns form elements to the center horizontally */
    padding: 10%;
    margin-top: 2%;
    
}

.center-button {
    display: block; /* Allows margin auto to work for horizontal centering */
    width: 65%; /* Small width for the button */
    background: linear-gradient(to right, #005d97, #9ddeec 95%); /* Blue background color */
    color: white; /* Text color */
    text-align: center; /* Center text inside the button */
    border: none; /* No borders */
    border-radius: 5px; /* Slight rounding of corners */
    cursor: pointer; /* Pointer cursor on hover */
    font-family: 'BebasNeue', sans-serif;
    font-size: x-large;
    border-top-left-radius: 3vh;
	border-bottom-left-radius: 3vh;
    border-top-right-radius: 3vh;
	border-bottom-right-radius: 3vh;
    transform: translateZ(0) scale(1);
    transition: transform .2s;
    margin-top: 7%;

}

.center-button:hover{
    background: #27292b;
    transform: scale(1.05);
   

}

.formClass{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
    
    

}
.login-form h2, input {
    width: 100%; /* Ensures form elements take full width of the form */
    text-align: center; /* Center text for inputs and buttons */
}

input, button {
    padding: 1vh;
    margin-top: 1vh; /* Spacing between form elements */
    border: 0.1vh solid #ccc;
    border-radius: 0.5vh;
}



button {
    background-color: #007bff;  /* Primary blue color */
    color: white;
    border: none;
    padding: 1vh 2vh; /* Provides padding inside the button, adjust as needed */
    width: auto; /* Adjust width based on content, ensures it doesn't take full width of the form */
    border-radius: 2vh; /* This creates the pill effect */
    cursor: pointer;
    text-align: left; /* Aligns text to the left */
    display: block; /* Ensures button uses block layout for better control over width and padding */
    overflow: hidden; /* Keeps the content within the borders */
    position: relative; /* Needed if we use a pseudo-element for positioning the text */
}

button:focus {
    outline: none; /* Removes the outline to keep the UI clean on focus */
}

button::after {
   
    position: absolute;
    left: 2vh; /* Distance from the left edge */
    top: 50%; /* Centers vertically */
    transform: translateY(-50%); /* Adjusts the position to truly center it vertically */
    white-space: nowrap; /* Ensures the text doesn't wrap */
}


.formInput{

    font-size: large;
    border-top-left-radius: 3vh;
	border-bottom-left-radius: 3vh;
    border-top-right-radius: 3vh;
	border-bottom-right-radius: 3vh;
    outline: 0.2vh solid #27292b;
    transition: outline 0.1s ease-out;
    font-family: 'Montserrat', sans-serif;
    
}

.formInput:hover{
    outline: 0.3vh solid #9bb9d5;
    border: 0.3vh solid transparent;
    transition: outline 0.1s ease-in;
   
  }

  .formInput:focus{
    outline:  0.3vh solid #6fa4bf;
    border: 0.3vh solid transparent;
  }

  .MenuButtons{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5%;
    justify-content: space-between;
    position: fixed;
    background-color: #27292b;
    z-index: 1;
    
}

.button-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8vh
}

.UserButton{
   
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: x-large;
    margin-left:1vh;
    width: auto;
    background-color: transparent;
    font-family: 'BebasNeue', sans-serif;
    font-weight: bold;
    margin-bottom: 1vh;
    border-radius: 0%;
    
}

.websiteLink {
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    text-decoration: none;
}
.username:hover{
    background: white; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    transform: scale(1.05);
    
}
.username{
    background: linear-gradient(to right, #23a1ee 5%, #9ddeec 95%); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    transform: translateZ(0) scale(1);
    transition: transform .2s;
  

}

.Logout-logo:hover{
    filter: brightness(0) saturate(100%) invert(95%) sepia(12%) saturate(7450%) hue-rotate(178deg) brightness(102%) contrast(67%);
    transform: scale(1.05);
}



.LogoutButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    margin-right: 1vh;
    background-color: transparent;
   

}

.Logout-logo{
    height: 3.7vh;
    transform: translateZ(0) scale(1);
    transition: transform .2s;
}

.MenuButtonSection{
    display: flex;
    flex-direction: row;   
    padding-bottom: 1vh;
}

@media (max-width: 1000px){

  .login-form{
    width: 80%;
    
  }

  .formClass{
    width: 90%;

}


.login-subcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    
}



.login-text{
   
    display: flex;
    flex-direction: column;
 
    
    
}

.login-text-div{
  
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    

}
.login-verifai{
 
   text-align: center;
    
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
}

.login-verifai-subtext{
  
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    text-align: center;

}

.login-logo {
    width: auto; /* Adjust the width as necessary */
    height: 50vh;
    margin-left: 5%;
   
}

.login-container {
    display: flex;
    flex-direction: row; /* Stack children vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    height: 100vh; /* Full viewport height to center everything in the middle of the page */
    background-color: #f8f8f8; /* Background color, optional */
    width: 100%;
   
    
}

.websiteLink {
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    text-decoration: none;
}


}

@media (max-width: 500px){

    .login-form{
      width: 80%;     
      
    }

    
    .formClass{
        width: 80%;

    }

    .message{
        font-size: small;
    }

    .login-subcontainer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 80%;
    }

  
    
    .login-text{
       
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        
    }
    
    .login-text-div{
      
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    .login-verifai{
     
       text-align: center;
        
        font-family: 'Montserrat', sans-serif;
        font-size: large;
    }
    
    .login-verifai-subtext{
      
        font-family: 'Montserrat', sans-serif;
        font-size: small;
        text-align: center;
    
    }

    .login-logo {
        width: auto; /* Adjust the width as necessary */
        height: 50vh;
        margin-left: 5%;
    }

    .login-container {
        display: flex;
        flex-direction: row; /* Stack children vertically */
        justify-content: center; /* Center vertically */
        align-items: center; /* Center horizontally */
        height: 100vh; /* Full viewport height to center everything in the middle of the page */
        background-color: #f8f8f8; /* Background color, optional */
        width: 100%;
        
    }

    .websiteLink {
        font-family: 'Montserrat', sans-serif;
        font-size: small;
        text-decoration: none;
    }


  }