@font-face {
    font-family: 'BebasNeue';
    src: url('./BebasNeue.woff');
    font-weight: normal;
    font-style: normal;
}

/*@font-face {
    font-family: 'Montserrat';
    src: url('./Montserrat-VariableFont_wght.woff');
    font-weight: normal;
    font-style: normal;
}*/



.App{
    text-align: center;
    background-color: #f8f8f8;

}

h1{
    font-family: 'BebasNeue', sans-serif;

}

h2{
    font-family: 'BebasNeue', sans-serif;
}




.MenuButtons{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5vh;
    justify-content: space-between;
    position: fixed;
    background-color: #27292b;
    z-index: 1;
    
}

.MenuButtonsSection{
    display: flex;
    flex-direction: row;   
    padding-bottom: 1vh;
}



.button-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8vh
}

.UserButton{
   
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: x-large;
    margin-left:1vh;
    width: auto;
    background-color: #27292b;
    font-family: 'BebasNeue', sans-serif;
    font-weight: bold;
    margin-bottom: 1vh;
    border-radius: 0%;
    
   

}

/*.UserButton:hover{
  
    background-color: #9bb9d5;

}*/

.username:hover{
    background: white; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    transform: scale(1.05);
    
}
.username{
    background: linear-gradient(to right, #23a1ee 5%, #9ddeec 95%); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    transform: translateZ(0) scale(1);
    transition: transform .2s;
  

}


.BlueButton{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  background-color: #27292b;
  font-family: 'BebasNeue', sans-serif;
  font-weight: bold;
  font-size: xx-large;
  

}



.Share-logo:hover{
    filter: brightness(0) saturate(100%) invert(95%) sepia(12%) saturate(7450%) hue-rotate(178deg) brightness(102%) contrast(67%);
    transform: scale(1.05);
}

.Logout-logo:hover{
    filter: brightness(0) saturate(100%) invert(95%) sepia(12%) saturate(7450%) hue-rotate(178deg) brightness(102%) contrast(67%);
    transform: scale(1.05);
}



.LogoutButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    margin-right: 1vh;
    background-color: #27292b;
   

}


.Share-logo{
    height: 3.7vh;
    transform: translateZ(0) scale(1);
    transition: transform .2s;
  
}

.Logout-logo{
    height: 3.7vh;
    transform: translateZ(0) scale(1);
    transition: transform .2s;
}

.LogoContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;  
}

.App-logo{
    height: 20vh;
    border-radius: 50%;
    box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.1);
    margin-top: 7vh;

}

.tabbed{
    display: flex;
    margin-top: 2vh;
    flex-direction: row;
    justify-content: center;
}
.InputQuestion{
    display: flex;
    flex-direction: column;
}

.QuestionClassForm{
    display: flex;
    flex-direction: row;
    gap: 1vh;
    width: 60%;
}


.QuestionClass{
    font-size: x-large;
    border-top-left-radius: 3vh;
	border-bottom-left-radius: 3vh;
    border-top-right-radius: 3vh;
	border-bottom-right-radius: 3vh;
    text-align: left;
    outline: 0.3vh solid #27292b;
    transition: outline 0.1s ease-out;
    font-family: 'Montserrat', sans-serif;
    
  
    
  }

  .QuestionClass:hover{
    outline: 0.3vh solid #9bb9d5;
    border: 0.3vh solid transparent;
    transition: outline 0.1s ease-in;
   
  }

  .QuestionClass:focus{
    outline:  0.3vh solid #6fa4bf;
    border: 0.3vh solid transparent;
  }


  

.QuestionSection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1vh;
}

.AnswerContainer{
    display: flex;
    flex-direction: column;
    width: 60%;
    
    
}

.Answer{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

  
.document-section {
    display: flex;
    flex-wrap: wrap;
    gap: 2vh;
    margin-left: 1%;
    margin-top: 4vh;
    width: 200vh;
  }
  
  .document-square {
    width: 17.3vh;  /* Reduced width */
    height: 9vh;  /* Reduced height */
    border: 0.3vh solid #ccc;
    padding: 0.5vh;  /* Reduced padding */
    overflow: hidden;
    background-color: #f9f9f9;
    box-shadow: 1vh 0.8vh 1vh rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .document-title {
    font-size: large;  /* Reduced font size */
  
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    margin-top: 0vh;
    font-weight: 500;
    
  }
  
  .no-underline-link {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit the color from the parent */
  }
  
  .no-underline-link:hover {
    text-decoration: none; /* Remove underline on hover */
    color: inherit; /* Inherit the color from the parent */
  }
  
  
  .document-square.center {
    justify-content: center;  /* Center content vertically */
    align-items: center;      /* Center content horizontally */
    text-align: center;       /* Center text */
  }
  
  .document-section:hover {
    cursor: pointer; /* Change cursor to hand on hover */
  }
  
  .sources-section h2{
   text-align: left;
   margin-left: 1vh;
    
  }

.StatusMessage{
    text-align: left;
    margin-left: 1vh;


}

.output-section{
    text-align: justify;
    background-color: #f1f1f1;
    padding: 3.5vh;
    margin-bottom: 2vh;
    
    
}
.output-verification {
    background-color: #fafafa;
    border-radius: 4px;
    padding: 10px;
    margin: 20px;
    max-width: 770px;
  
  }
  
  .output-tokens {
    white-space: pre-line; /* Ensures that line breaks are respected */
    color: #333;
    font-size: larger;
    line-height: 3.5vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
 
   
  }

  .spinner {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1vh; 
    width: 1.5vh;
    height: 1.5vh;
    border: 0.5vh solid rgba(0, 0, 0, .3);
    border-radius: 50%;
    border-top: 0.5vh solid blue;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .green-ball, .red-ball, .gray-ball,.orange-ball {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    vertical-align: middle;
    display: inline-block;
    margin-right: 5px;
  }
  
  .green-ball {
    background-color: #00ff00; /* Green color */
  }
  
  .red-ball {
    background-color: #ff0000; /* Red color */
  }
  
  .gray-ball{
    background-color: gray;
  }
  
  .orange-ball{
    background-color:orange;
  }
  
  .tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 35%;
    background-color: #f9f9f9;
    color: #000;
    text-align: justify;
    border-radius: 1vh;
    padding: 1.5vh;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    box-shadow: 0vh 1vh 3vh rgba(0,0,0,0.1);
    opacity: 0;
    transition: opacity 0.3s;
    font-size: small;
    
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }


  #settings-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f8f8f8;
    transform: translateZ(0) scale(1);
    transition: transform .2s;
    
    
    
  }

  #settings-btn:hover{
    transform: scale(1.05);

  }

  .AskButton{
    background-color: #f8f8f8;
   
  }

 
  .AskLogo:hover{  
    filter: brightness(0) saturate(100%) invert(95%) sepia(12%) saturate(7450%) hue-rotate(178deg) brightness(102%) contrast(67%);
    transform: scale(1.05);
  }

  .SettingsLogo:hover{  
    filter: brightness(0) saturate(100%) invert(95%) sepia(12%) saturate(7450%) hue-rotate(178deg) brightness(102%) contrast(67%);
    transform: scale(1.05);
  }

  .SettingsLogo{
    height: 3.7vh;
    position: relative;
    transform: translateZ(0) scale(1);
    transition: transform .2s;
    
  }

  .AskLogo{
    height: 3.7vh;
    transform: translateZ(0) scale(1);
    transition: transform .2s;
  }

#inputMessage{
    font-family: 'Montserrat', sans-serif;
    font-size: large;
}

body{
    background-color: #f8f8f8;
}